<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>area</title>
</head>
<body>
    <div class="main-content">
        {{header}}
        <p>주소: <span id="message-0">{{location}}</span></p>
        <p>상세주소: <span id="message-1">{{location_2}}</span></p>
        <p>제목: <span id="message-2">{{object}}</span></p>
        {{footer}}
    </div>
</body>
</html>